[package]
name = "freebox-exporter-rs"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
async-trait = "0.1.83"
chrono = "0.4.39"
clap = { version = "4.5.23", features = ["derive"] }
flexi_logger = { version = "0.29.8", features = ["async", "specfile", "compress", "colors"]}
hmac = { version = "0.12.1", features = ["std"] }
log = "0.4.22"
openssl = { version = "0.10.68", features = ["vendored"] }
prometheus_exporter = "0.8.5"
reqwest = { version = "0.12.11", features = ["json"] }
serde = {version = "1.0.216", features = ["derive"] }
serde_json = "1.0.133"
sha1 = "0.10.6"
time = "0.3.37"
tokio = { version = "1.42.0", features = ["full"]}
toml = "0.8.19"
