[api]
host = "mafreebox.freebox.fr"
port = 443
expose = { connection = true,  settings = true, contacts = true, calls = true, explorer = true, downloader = true, parental = true, pvr = true }
refresh_interval_secs = 5

[core]
data_dir = "/home/shackerd/.freebox-exporter"
port = 9102